<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Index | Back End GreyGiver</title>
</head>
<body class="bg">

    <p class="alert-password">
        Ton mot de passe a bien été modifier
    </p>
    <section class="login">
        <div class="form-login">
            <div class="inputs">
                <label for="username" class="username" required="required">Identifiant</label>
                <input type="text" class="input input-username">
            </div>
            <div class="inputs">
                <label for="password" class="password" required="required">Mot de passe</label>
                <input type="password" class="input input-password">
            </div>
            <div class="btn__login">
                <a href="back/back-index.html" class="connection">Se connecter</a>
                <a href="forgot-password.html" class="small__link">Mot de passe oublier</a>
            </div>

            <div class="register">
                <img src="../img/logo.png" alt="Logo GreyGiver">
                <a href="signin.html" class="signin"> Créer un compte</a>
            </div>
        </div>
    </section>

    
</body>
</html>