<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Register | Back End GreyGiver</title>
</head>
<body class="bg">
    <section class="login">
        <div class="form-login">
            <div class="welcome">
                <img src="../img/logo.png" alt="Logo GreyGiver">
                <h1>Bienvenue</h1>
            </div>
            
            <div class="inputs">
                <label for="username" class="username" required="required">Identifiant</label>
                <input type="text" class="input input-username">
            </div>
            <div class="inputs">
                <label for="password" class="password" required="required">Mot de passe</label>
                <input type="password" class="input input-password">
            </div>
            <div class="inputs">
                <label for="password_confirm" class="password" required="required">Confirmer le mot de passe</label>
                <input type="password" class="input input-password">
            </div>
            <div class="btn__login">
                <a href="back/back-index.html" class="connection">S'inscrire</a>
                <a href="../index.html" class="small__link">Retour à la page de connexion</a>
            </div>

                
                
        </div>
    </section>

    
</body>
</html>